[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-testmon = "*"
pytest-watch = "*"
jedi = "*"
rope = "*"
flake8 = "*"
mypy = "*"
flake8-mypy = "*"

[packages]
requests = "*"
lxml = "*"
python-dateutil = "*"
cached-property = "*"

[requires]
python_version = "3.7"

[scripts]
test = "pytest"
test_watch = "ptw --onpass 'pipenv run _tests_passed tests passed' --onfail 'pipenv run _tests_failed tests failed' -- --testmon"
cover = "pytest --cov"
mypy = "mypy main.py tests/test_main.py"
mypy_watch = "ptw --onpass 'pipenv run _tests_passed mypy passed' --onfail 'pipenv run _tests_failed mypy failed' --runner 'pipenv run mypy'"
_tests_passed = "bash -c '${PASS_COMMAND:-notify-send --icon $(pipenv run _pass_icon)} -- $0 \"$*\"'"
_tests_failed = "bash -c '${FAIL_COMMAND:-notify-send --icon $(pipenv run _fail_icon)} -- $0 \"$*\"'"
_pass_icon = "bash -c 'echo ${PASS_ICON:-/usr/share/icons/default.kde4/base/128x128/actions/dialog-ok-apply.png}'"
_fail_icon = "bash -c 'echo ${FAIL_ICON:-/usr/share/icons/default.kde4/base/128x128/status/dialog-error.png}'"
