[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-testmon = "*"
pytest-watch = "*"
jedi = "*"
rope = "*"
flake8 = "*"

[packages]
requests = "*"
lxml = "*"
python-dateutil = "*"
cached-property = "*"

[requires]
python_version = "3.7"
